<p id="notice"><%= notice %></p>

<p>
  <strong>Keyword:</strong>
  <%= @suspicious_keyword.keyword %>
</p>

<%= link_to 'Edit', edit_suspicious_keyword_path(@suspicious_keyword) %> |
<%= link_to 'Back', suspicious_keywords_path %>
